* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  background: url("../assets/josh-wilburne-hPeGDIGHnoI-unsplash.jpg")
    center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .hero-content {
    position: relative;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;

    h1 {
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: -0.1rem;
      margin-bottom: 15px;
      line-height: -2rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 200;
      max-width: 500px;
      margin: 0 auto 20px auto;
    }

    .hero-button {
      margin-top: 20px;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      padding: 15px 25px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      display: inline-block;
      transition: 0.3s ease;

      &:hover {
        background-color: lightgray;
        color: black;
      }
    }
  }
}
